In [3]:
import pandas as pd

In [5]:
df = pd.read_excel('premiums.xlsx')
df.head(2)

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount
0,26,Male,Northwest,Unmarried,0,Normal,No Smoking,Salaried,<10L,6,Diabetes,Bronze,9053
1,29,Female,Southeast,Married,2,Obesity,Regular,Salaried,<10L,6,Diabetes,Bronze,16339

In [6]:
df_young = df[df['Age']<=25]
df_rest = df[df['Age']>25]

df_young.shape,df_rest.shape

((20096, 13), (29904, 13))

In [7]:
df_young.to_excel('premium_young.xlsx',index=False)
df_rest.to_excel('premiums_rest.xlsx',index=False)